.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    height: 100%;
    border: 1px solid var(--colors-grey400);
    background: var(--colors-white);
}

.chips {
    margin: var(--spacers-dp4);
}

.Menu {
    padding-bottom: var(--spacers-dp16) !important;
    border-bottom: 1px solid var(--colors-grey300);
    max-height: var(--spacers-dp512);
    overflow: auto;
}

.items {
    border-right: 1px solid var(--colors-grey400);
}

.summary {
    padding: var(--spacers-dp16);
}

@media (min-width: 1200px) {
    .container {
        grid-template-columns: [items] 320px [summary] minmax(0, 1fr);
    }

    .items {
        grid-column: items;
        height: 100%;
    }

    .Menu {
        height: 100%;
        padding: 0 !important;
        border-bottom: none;
        max-height: 100%;
    }

    .summary {
        grid-column: summary;
    }
}
