.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  right: 0;
  bottom: 0;
  color: #fff;
  background-color: #225b8b;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  padding: 0 5px 0 15px;
}
.nav svg {
  cursor: pointer;
  margin-top: 5px;
}
.title {
  user-select: none;
  color: #fff;
  font-size: 15px;
}
.upper {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 6px;
}
.actions {
}

.messages {
  padding: 10px 15px;
  width: 100%;
  height: 160px;
  min-height: 130px;
  overflow: scroll;
  overflow-x: hidden;
  color: #fff;
  background-color: #000;
}
.messages:empty {
  display: none;
}

.messages .message {
  border-bottom: 1px solid #4c4c4c;
}
.messages .message:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.message {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 97%;
}
.date {
  font-style: italic;
  width: 150px;
}
.subject {
  margin-bottom: 3px;
}
.contents {
  display: flex;
  flex-direction: column;
}
.text {
  white-space: pre-wrap;
}
