.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content {
  position: fixed;
  left: 300px;
  top: 44px;
  width: calc(100vw - 300px);
  height: 100vh;
  overflow: scroll;
}
