.form {
  margin: 24px 20px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 3px 0 #999;
  border-radius: 3px;
}
.title {
  padding: 10px 0 6px 15px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #e9ecef;
}
.content {
  padding: 10px 15px;
}
