.wrapper {
  padding-bottom: 60px;
}
.form {
  cursor: default;
  background-color: #fff;
  box-shadow: 0 0 3px 0 #999;
  border-radius: 3px;
  margin-top: 60px;
}

.head {
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 34px;
  padding: 8px 15px 3px 15px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #e9ecef;
}
.icon {
  margin-right: 10px;
}
.title {
  margin-bottom: 3px;
}

.desc {
  padding: 15px;
  font-size: 15px;
}

.fields {
  padding: 10px 0 6px 16px;
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-top: 15px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 64px;
  font-size: 18px;
  font-weight: 400;
  border-top: 1px solid #e9ecef;
}

form .formControl {
  margin-top: 16px;
  width: 150px;
}

form .formLabel {
  user-select: none;
  margin-bottom: 3px;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
