.container {
    margin-bottom: var(--spacers-dp48);
}

.header {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: var(--spacers-dp8) 0;
}

.label {
    font-size: 18px;
    font-weight: 500;
    color: var(--colors-grey900);
    margin: 0;
}

.children {
    margin-top: var(--spacers-dp4);
}

.hidden {
    display: none;
}

.header svg {
    margin-left: -3px;
    margin-right: 5px;
}

.chevronHidden svg {
    transform: rotate(90deg);
}

.chevronVisible svg {
    transform: rotate(-90deg);
}
