.indent {
    padding-top: var(--spacers-dp16);
}
.table th {
    white-space: nowrap;
}

.parentOuName {
    color: var(--colors-grey600);
}

.current {
    color: #777;
    text-decoration: line-through;
}
