.container {
    padding-bottom: var(--spacers-dp16);
}

.indent {
    padding-left: 29px;
    padding-top: var(--spacers-dp16);
}
.table th {
    white-space: nowrap;
}

.right {
    text-align: right;
}

.current {
    color: #777;
    text-decoration: line-through;
    text-align: right;
}