.container {
    margin: 30px auto;
    border-radius: 3px;
    width: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px 0 #999;
    cursor: default;
    background-color: #fff;
}

.head {
    user-select: none;
    height: 34px;
    padding: 8px 15px 3px 15px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #e9ecef;
}

.title {
    margin-top: 5px;
}

.contents {
    user-select: text;
    padding: 20px;
    line-height: 30px;
}

.buttons {
    margin-top: 15px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 64px;
    font-size: 18px;
    font-weight: 400;
    border-top: 1px solid #e9ecef;
}
