.horizontal {
    display: flex;
}

.horizontal div {
    margin-right: var(--spacers-dp24);
}

.vertical div {
    padding-bottom: var(--spacers-dp8);
}

.children {
    margin-left: var(--spacers-dp32);
}
