.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--spacers-dp16);
}

.title {
    margin-top: 0;
    margin-bottom: var(--spacers-dp16);
    color: var(--colors-grey800);
    font-weight: 500;
    font-size: 16px;
}

.body {
    flex: 1; /* push the link to the bottom */
    margin-top: 0;
    margin-bottom: var(--spacers-dp16);
    color: var(--colors-grey800);
    font-size: 14px;
    line-height: 20px;
}

.linkContainer {
    padding: var(--spacers-dp16) var(--spacers-dp16) 0;
    margin: 0 calc(-1 * var(--spacers-dp16)); /* pull border across the full width */
    border-top: 1px solid var(--colors-grey300);
}

.link {
    font-size: 14px;
    line-height: 20px;
    color: var(--colors-blue700);
    text-decoration: none;
}
