.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: var(--spacers-dp16);
    margin-bottom: var(--spacers-dp32);
}

.categoryTitle {
    font-size: 24px;
    font-weight: 500;
    color: var(--colors-grey800);
    margin: var(--spacers-dp16) 0;
}

@media (min-width: 800px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
