.link {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--spacers-dp16);
    border: 1px solid var(--colors-grey300);
    border-radius: 3px;
    background: var(--colors-white);
}

.title {
    margin-top: 0;
    margin-bottom: var(--spacers-dp16);
    color: var(--colors-grey900);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.body {
    flex: 1; /* push the link to the bottom */
    margin-top: 0;
    margin-bottom: var(--spacers-dp16);
    color: var(--colors-grey800);
    font-size: 14px;
    line-height: 20px;
}

.linkText {
    font-size: 14px;
    line-height: 19px;
    color: var(--colors-blue800);
    text-decoration: none;
}

.link:hover .linkText {
    text-decoration: underline;
}

.link:hover .container {
    border-color: var(--colors-grey400);
}
