.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 60px;
}
.heading {
  margin: 20px 0 0 0;
  font-size: 21px;
  font-weight: 500;
}
.purpose {
  margin: 20px 0 30px 0;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.item {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  cursor: pointer;
  margin: 15px;
  padding: 0.75rem 1rem 0 1.5rem;
  width: 300px;
  height: 140px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.item:hover {
  background-color: #f3f6f9;
}

.head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.icon {
  margin-right: 10px;
}
.title {
  padding: 1rem 0;
  font-size: 15px;
  font-weight: 500;
}
.description {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
