.container {
  user-select: none;
  cursor: pointer;
  display: block;
  font-size: 14px;
  color: #000;
  background-color: #efefef;
  padding: 8px 10px;
}

.container.enabled {
  color: #fff;
  background-color: #4c708c;
}
