.container {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 15px 0 0 0;
}

.container svg {
    margin-left: -3px;
    margin-right: 5px;
}
