.container {
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    height: 32px;
    margin: 4px;
    /* border-radius: 16px; */
    background-color: rgb(243, 245, 247);
    font-size: 14px;
    line-height: 16px;
    color: rgb(33, 41, 52);
}

.text {
    margin: 0px 12px;
}

.success {
    background-color: rgb(0, 121, 107);
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.error {
    background-color: rgb(185, 36, 43);
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.warning {
    background-color: rgb(255, 147, 2);
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.info {
    background-color: rgb(33, 41, 52);
    color: rgb(255, 255, 255);
    font-weight: 500;
}
