.container {
    padding: 8px 15px 3px;
    border-bottom: 1px solid #e9ecef;
    line-height: 34px;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    height: 28px;
}

.label {
    font-size: 18px;
    font-weight: 500;
}
