.hiddenTopElement {
    visibility: hidden;
    height: 1px;
}

.sectionHeader {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--colors-grey900);
    margin: 0 0 var(--spacers-dp4) 0;
}

.wrapper {
    margin-bottom: var(--spacers-dp24);
}

.buttonWrapper {
    margin-top: var(--spacers-dp16);
}
