.Menu {
}

.sidebarItem {
    background-color: var(--colors-grey200) !important;
}

.sidebarItem:hover {
    background-color: var(--colors-grey400) !important;
}

.sidebarItemActive {
    background-color: var(--colors-grey400) !important;
}

.jobOverview {
}
