.Menu {}

.sidebarItem {
   background-color: var(--colors-grey200) !important;
}

.sidebarItem:hover {
   background-color: var(--colors-grey400) !important;
}

.sidebarItemActive {
   background-color: var(--colors-grey400) !important;
}

.sectionTitle {
    background-color: inherit !important;
}

.sectionTitle h6 {
    font-size: 16px !important;
    color: var(--colors-grey900);
    padding: var(--spacers-dp16) var(--spacers-dp24) var(--spacers-dp12);
}

.jobOverview {}
