.container {
    padding-right: var(--spacers-dp8);
}

.limitedWidth {
    max-width: 800px;
}

.content {
    background: var(--colors-white);
    border: 1px solid var(--colors-grey400);
    border-radius: 3px;
    padding: var(--spacers-dp16);
    margin: 0 0 var(--spacers-dp24) 0;
    height: 100%;
    width: 100%;
}

.preBody {
    margin-bottom: var(--spacers-dp16);
    padding: var(--spacers-dp12);
}

.header {
    margin: var(--spacers-dp16) 0;
}

.title {
    font-size: 24px;
    font-weight: 500;
    color: var(--colors-grey900);
    margin: 0 0 var(--spacers-dp4) 0;
}

.desc {
    font-size: 14px;
    color: var(--colors-grey700);
    margin: 0;
    line-height: 19px;
}

.loading {
    height: 100%;
    width: 100%;
}

.transparent .content {
    background: transparent;
    border: none;
    padding: 0;
}
