.container {
    height: 100%;
    padding-right: var(--spacers-dp8);
}

.limitedWidth {
    max-width: 800px;
}

.content {
    height: 100%;
    width: 100%;
}

.preBody {
    margin-bottom: 25px;
    padding: 10px;
}

.header {
    margin: var(--spacers-dp24) 0;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: var(--colors-grey800);
    margin: var(--spacers-dp12) 0;
    line-height: 20px;
}

.desc {
    font-size: 14px;
    color: var(--colors-grey700);
    margin: 0 0;
    line-height: 20px;
}
