.container {
    margin-bottom: 15px;
}

.label {
    display: block;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.inputs {
    display: flex;
}

.radio {
    margin-right: 15px;
}
