form .formControl {
  margin-top: 16px;
}

form .formLabel {
  user-select: none;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

form .radioGroup {
  display: flex;
  flex-direction: row;
}

form .formControlLabelRoot {
}
form .formControlLabelLabel {
  user-select: none;
  font-size: 14px;
  font-weight: 500;
}
