form .formControl {
    margin-top: 16px;
}

form .formLabel {
    margin-bottom: 10px;
    user-select: none;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

form .radioGroup {
    display: flex;
    flex-direction: row;
}
form .radioGroup > div {
    margin-right: 15px;
}
form .radioGroup > div:last-child {
    margin-right: 0;
}
form .radioGroup > div label {
    margin-left: 10px;
    user-select: none;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}
