.container {
    margin-bottom: var(--spacers-dp24);
}

.label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: var(--colors-grey900);
    margin: 0 0 var(--spacers-dp8);
}
