.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp8);
}

.filename {
    overflow: hidden;
    text-overflow: ellipsis;
}

.subtitle {
    display: flex;
    gap: var(--spacers-dp8);
    align-items: center;
}

.date {
    font-size: 13px;
    color: var(--colors-grey700);
    margin: 0;
}

@media (min-width: 1200px) {
    .filename {
        max-width: 290px;
    }
}
