

.container {
    display: grid;
    height: 100%;
    grid-gap: 0 var(--spacers-dp24);
    grid-template-columns: [sidebar] 280px [content] 1fr;
    background-color: var(--colors-grey050);
    color: var(--colors-grey900);
}

.sidebar {
    grid-column: sidebar;
    background-color: var(--colors-grey200);
    overflow: auto;
    position: fixed;
    height: 100%;
}

.content {
    grid-column: content;
    background-color: inherit;
}
