@font-face {
  font-weight: 300;
  font-family: 'Noto Naskh Arabic';
  src: url('./fonts/NotoNaskhArabicUI-Regular.ttf');
}

@font-face {
  font-weight: 500;
  font-family: 'Noto Naskh Arabic';
  src: url('./fonts/NotoNaskhArabicUI-Bold.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #f3f3f3;
}

[dir=rtl] body {
  font-family: 'Noto Naskh Arabic', sans-serif;
}