.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.container > div:nth-child(1) > div {
    margin-right: 15px;
}

.group {
    width: 30%;
    margin-bottom: 10px;
}

.group .schema {
    margin-top: 5px;
}

.formLabel {
    margin-bottom: 5px;
    width: 100%;
    user-select: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--colors-grey800);
}

.formControl {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    max-height: 1100px;
    flex-wrap: wrap;
}
