.container {
    margin-bottom: var(--spacers-dp16);
}

.title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    margin: 0px;
}

.taskDetails {
    margin: var(--spacers-dp8) 0px var(--spacers-dp4);
    font-size: 13px;
    line-height: 14px;
    color: var(--colors-grey700);
}

.tags {
    display: flex;
    gap: var(--spacers-dp4);
    margin: var(--spacers-dp8) 0 0;
}
