form .formControl {
}

form .formLabel {
  margin-bottom: 5px;
  width: 100%;
  user-select: none;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.group {
  margin-bottom: 10px;
}

.group .label {
  margin: 8px 0 5px 0;
  font-size: 14px;
}

.group .schema {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.group .schema label {
  height: 24px;
  width: 33%;
  margin-right: 0;
  align-items: flex-start;
}

.group .schema label span {
  width: auto;
  margin-left: 6px;
  font-size: 14px;
  align-items: flex-start;
  line-height: inherit;
}

.group .schema label > span:last-child {
  margin-top: 4px;
}
